.background {
  background-color: #0002;
  position: fixed;
  top: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  padding-block: 12vh;
  overflow-y: scroll;
}
.neworder-container {
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(53, 53, 53);
}
.popup {
  position: relative;
}

.close {
  transform: rotate(45deg);
  width: fit-content;
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 1.5rem;
  color: #0007;
  cursor: pointer;
}
