.mio {
  border: 2px solid red;
}

body {
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body-container {
  flex-grow: 1;
  overflow-x: scroll;
}
