.form-title {
  margin-top: 1rem;
  margin-inline-start: 2rem;
}
.form-style {
  // border: 1px solid green;
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin formGrid() {
  display: grid;
  grid-template-columns: 100px auto;
}

.grid-input,
.group-form > div {
  @include formGrid();
}

.grid-input input,
.group-form input {
  margin-block: auto;
}

.group-form {
  padding: 10px;
  // border: 1px solid #aaa;
}

// .form-style > div:not(.groupform, .payments-container) {
//   @include formGrid();
// }
.form-style > div {
  padding: 1rem;
  border-bottom: 1px solid #0005;
  width: 100%;
}

// .form-style > div > div {
//   @include formGrid();
//   margin: 2px;
// }

.form-style input,
.form-style select {
  width: 100%;
}

.btn-form {
  margin-top: 1rem;
  width: 150px;
}

.form-style .form-id {
  margin-block-end: 0;
  color: #777;
}

p {
  margin-block: 0.5rem;
}

.payment-button {
  border: 1px solid #ddd;
  margin-inline-end: 10px;
}

input[type="checkbox"] {
  width: auto;
}
