@import "./variables";
$table-head-color: lighten($main-color, 5);
$table-border: 1px solid lighten($main-color, 30);
$table-even-row-color: lighten($main-color, 40);

.table {
  border-collapse: collapse;
  margin: 50px 30px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 5px 5px 20px #0005;
  table-layout: fixed;
}

.table thead tr {
  background-color: $table-head-color;
  text-align: left;
  font-weight: bold;
  color: white;
}

.table th,
.table td {
  border-bottom: $table-border;
  padding: 8px 10px;
  margin: 1rem;
  width: 180px;
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.table td p {
  display: inline-block;
  vertical-align: middle;
}

.table tbody tr:nth-of-type(even) {
  background-color: $table-even-row-color;
}

.table tbody {
  border-bottom: 2px solid $table-head-color;
}
