// @import "./variables";
$table-head-color: lighten($main-color, 5);
$table-border: 1px solid lighten($main-color, 30);
$table-even-row-color: lighten($main-color, 40);

.table-container {
  height: 100%;
  display: flex;
  // justify-content: center;
  // padding-inline: 30px;
}

.orderTable {
  border-collapse: collapse;
  margin: 20px 30px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 5px 5px 20px #0005;
  table-layout: fixed;
}

.orderTable thead tr {
  background-color: $table-head-color;
  text-align: left;
  font-weight: bold;
  color: white;
}

.orderTable th,
.orderTable td {
  padding: 8px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.orderTable td p {
  display: inline-block;
  vertical-align: middle;
}

.orderTable tbody tr:nth-of-type(even) {
  background-color: $table-even-row-color;
}

.button-cell {
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  // height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

// .orderTable tbody {
//   border-bottom: 2px solid $table-head-color;
// }
