.login-container div {
  text-align: center;
}

.login-col {
  display: flex;
  justify-content: center;
}

.login-container-sm {
  border: 1px solid #0000001e;
  box-shadow: 2px 2px 5px rgba(197, 197, 197, 0.9);
  width: 60%;
  padding-block: 50px;
  border-radius: 10px;
}
