@use "../../scss/mixins.scss" as *;
@use "../../scss/variables" as *;
.icon-option {
  font-size: 4rem;
}

.col-option {
  @include boxDecorate();
  color: $main-color;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.col-option:hover {
  color: darken($main-color, $amount: 10);
  cursor: pointer;
}
