$header-color: #f9f8ff;
$border-color: #555;

header {
  background-color: $header-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: center;
}

.header-container {
  position: relative;
  height: fit-content;
  max-width: 1200px;
  padding-block: 10px;
}

.navbar {
  padding-top: 0;
  position: absolute;
  top: 100%;
  height: 90vh;
  width: 250px;
  left: -100%;
  background-color: $header-color;
  transition: all 0.5s ease;
  border-right: 1px solid $border-color;
  border-top: 1px solid $border-color;
  z-index: 0;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      display: flex;
      justify-content: center;
      text-align: center;
    }
    a {
      color: black;
      text-decoration: none;
    }
    p {
      width: 150px;
    }
  }
  .user-links {
    width: 100%;
  }
  .nav-menu {
    width: fit-content;
    a {
      padding-inline: 8px;
    }
  }
}

.navbar.active {
  left: 0;
  transition: all 0.5s ease;
}

.user-links {
  margin-bottom: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: 1px solid #aaa;
  p {
    margin-bottom: 0;
  }
  .login-link {
    font-size: 1rem;
    margin-inline: 12px;
  }
}

.nav-menu {
  margin-top: 1rem;
  li {
    border-radius: 5px;
    margin-top: 10px;
  }
  li:hover {
    background-color: rgb(199, 199, 199);
  }
}

.rotate-45 {
  transform: rotate(45deg);
}

@media screen and (min-width: 1000px) {
  .navbar {
    border: none;
    position: relative;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    justify-content: space-around;

    .user-links,
    .nav-menu {
      width: auto;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
    }
    .nav-menu {
      width: fit-content;
    }
  }

  .user-links {
    order: 3;
    right: 20px;
    border: none;
    justify-content: end;
    li {
      margin: 0 5px;
      p {
        width: 150px;
        font-size: 1.3rem;
      }
    }
  }

  .nav-menu li {
    margin: 0 5px;
    padding: 5px 8px;
  }

  .logout-link {
    flex-shrink: 0;
  }
}
