<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{%block title%}{%endblock%}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
		{% assets "css_all" %}
		<!--
			<link rel="stylesheet" href="{{ url_for("static", filename="css/all.css") }}">
		-->
			<link rel="stylesheet" href="{{ ASSET_URL }}">
		{% endassets %}
	</head>
	<body>
		<div class="container d-flex flex-column vh-100">
			<header class="container-fluid p-3 d-flex justify-content-end">
				<ul class="user_info d-flex">
					<li><a href="{{ url_for('frontend.index') }}">Home</a></li>
					{% if current_user.is_anonymous %}
					<li><a href="{{ url_for('frontend.login') }}">Login</a></li>
					<li>|</li>
					<li><a href="{{ url_for('frontend.signup') }}">Sign Up</a></li>
					{% else %}
					<li>{{ current_user.name }}</li>
					<li>|</li>
					<li><a href="{{ url_for('frontend.logout') }}">Log out</a></li>
					{% endif %}
				</ul>
			</header>
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
